<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <!-- Div para os dois primeiros cartões, lado a lado -->
  <div class="ion-padding ion-text-center">
    <ion-card class="custom-card custom-card-1">
      <ion-card-header>
        <ion-card-title class="ion-text-white"></ion-card-title>
      </ion-card-header>
    </ion-card>
    
    <ion-card class="custom-card custom-card-2">
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-card-content">
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Div para os outros cartões -->
  <div class="ion-padding ion-junto">
      <ion-col size="3" size-md="4" size-lg="3">
        <ion-card class="custom-card-3">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content class="custom-card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="3" size-md="4" size-lg="3">
        <ion-card class=" custom-card-4">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content class="custom-card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="3" size-md="4" size-lg="3">
        <ion-card class=" custom-card-5">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content class="custom-card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="3" size-md="4" size-lg="3">
        <ion-card class="custom-card-6">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content class="custom-card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>
      <!-- Div para os outros cartões -->
      <div>
      <ion-col size="2" size-md="7" size-lg="3">
        <ion-card class="custom-card custom-card-7">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content class="custom-card-content">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </div>

</ion-content>


