.custom-button {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px; /* Adiciona espaçamento na parte debaixo */
  }
  

  .custom-button3 {
    color: red; /* Define a cor do texto como vermelho */
   
  }

  .custum-letras{
    font-weight: bold;
  }
  .tituloCard{
    display: flex;
    justify-content: space-around;

    img {
        width: 20%;
        border-radius: 50%;
    }
  }
  .tituloCard2{
    display: flex;
    justify-content: space-around;

    img {
        width: 20%;
        border-radius: 50%;
        
    }
  }
  