<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-header>
    <ion-toolbar>
      <ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <div class="tituloCard">
        <div>
          <ion-card-title class="custum-letras">Peça de novo</ion-card-title>
          <ion-card-subtitle>1 copo de açai</ion-card-subtitle>
        </div>
        <img src="../../assets/acai.jpeg" alt="">
    </div>
    </ion-card-header>
    <ion-button class="custom-button" color="danger">Adicionar á sacola</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="tituloCard2">
        <img src="../../assets/logo.webp" alt="">
        <div>
          <ion-card-title>A Libanesa</ion-card-title>
          <ion-card-subtitle>✅Pedido concluído N° 58</ion-card-subtitle>
        </div>
    </div> 
    </ion-card-header>
    <ion-card-content>
      3 esfirras
    </ion-card-content>
    <ion-button class="custom-button3" fill="clear">Ajuda         /      Adicionar à sacola</ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <div class="tituloCard2">
        <img src="../../assets/images (1).png" alt="">
        <div>
          <ion-card-title>tori sushi</ion-card-title>
          <ion-card-subtitle>✅Pedido concluído N° 54</ion-card-subtitle>
        </div>
    </div> 
    </ion-card-header>
    <ion-card-content>
      1 barca
    </ion-card-content>
    <ion-button class="custom-button3" fill="clear">Ajuda  /  Adicionar à sacola</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="tituloCard2">
        <img src="../../assets/bella roma.png" alt="">
        <div>
          <ion-card-title>Bella Roma</ion-card-title>
          <ion-card-subtitle>✅Pedido concluído N° 54</ion-card-subtitle>
        </div>
    </div> 
    </ion-card-header>
    <ion-card-content>
      1 pizza
    </ion-card-content>
    <ion-button class="custom-button3" fill="clear">Ajuda  /  Adicionar à sacola</ion-button>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="tituloCard2">
        <img src="../../assets/bk.png" alt="">
        <div>
          <ion-card-title>Burguer King</ion-card-title>
          <ion-card-subtitle>✅Pedido concluído N° 574</ion-card-subtitle>
        </div>
    </div> 
    </ion-card-header>
    <ion-card-content>
      1 whopper
    </ion-card-content>
<ion-button class="custom-button3" fill="clear">Ajuda  /   Adicionar à sacola</ion-button>
  </ion-card>

</ion-content>